@font-face {
  font-family: 'Droid Serif';
  src: url('../font/droid/DroidSerif-Regular.ttf');
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../font/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../font/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}

body {
  font-family: 'Droid Serif';
}

h1,
h2,
h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code,
.remark-inline-code {
  font-family: 'Ubuntu Mono';
}
